
body {
    background: url('football-field-1428839_640.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;        
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
      
} 



.titulo {
    color: rgb(239, 239, 18);
    text-shadow: 1px 1px 2px black;
    background: linear-gradient(rgb(85, 161, 128), black);
    font-size: 60px;
    margin: 0;
    animation: titulo 2s  ;
    
}

.subtitulo {
    font-size:35px;
    color: rgb(239, 239, 18);
    background: linear-gradient(rgb(85, 161, 128), black);
    background-size: 2px;
    text-shadow: 1px 1px 1px black;
    padding-left: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.envelope-subtitulo{
    text-align: center;
}

.cabecalho {
    text-align: center;
    
}

.questao{
    color: rgb(234, 234, 29);
    text-shadow: 1px 1px 1px black;
    font-size: 22px;
    background: linear-gradient(rgb(85, 161, 128), black);
    padding: 0px;
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

@keyframes titulo {
    from {
        font-size: 10%;
    }

    right {
        font-size: 100%;
    }
}

@media (max-width: 768px) {
    body {
        
        height: 1000px;
        background-size: 100% 100%;
        background: url('football-field-1428839_640.png');
        background-position: bottom center;

    }

    .titulo{
        font-size: 30px;
    }

    .subtitulo{
        font-size: 70%;
    }

    .questao{

    }

    .alternativa{
        font-size: 12px;
    }
}

.msgm {
    color: rgb(239, 239, 18);
    text-shadow: 1px 1px 1px black;
    font-size: 20px;
    background: linear-gradient(rgb(85, 161, 128), black);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.res {
    width: 20%;
    height: 20%;    
}

